@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region - Typography -  */
/* * {
  font-family: 'Playfair Display', serif;
} */

h1 {
  @apply text-4xl tracking-normal font-extralight leading-loose text-accent-darkest mb-12 sm:text-5xl md:text-6xl font-serif;
}

h2 {
  @apply text-3xl md:text-4xl font-normal tracking-wide text-accent-darkest mb-8 font-serif;
}

h3 {
  @apply text-2xl md:text-3xl font-normal tracking-wide text-accent-darkest mb-2 font-serif;
}

p {
  @apply text-lg font-light leading-relaxed;
}

ul:not(.unstyled) {
  @apply space-y-1;
}

ul:not(.unstyled) li {
  @apply pl-4 text-black;
}

ul:not(.unstyled) li::before {
  @apply text-accent;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* #endregion - Typography -  */

/* #region - Inputs - */

a.with-underline {
  @apply relative transition w-max hover:text-accent;
}

a.with-underline::before {
  @apply absolute bottom-0 left-0 w-full transition;
  content: " ";
  height: 1px;
  transform: translateY(2px);
}

a.with-underline:hover::before {
  @apply bg-accent;
  transform: translateY(-1px);
}

input[type="text"]:not(.phone-number),
input[type="email"]:not(.text-base),
input[type="number"],
textarea,
select {
  @apply border-gray-400 focus:border-accent text-lg py-3 px-4 block w-full;
}

.btn {
  @apply w-max inline-flex items-center border border-accent-dark shadow-sm transition
        text-white  hover:bg-accent-dark focus:outline-none focus:ring-2 
        focus:ring-offset-2 focus:ring-accent uppercase;
}

.btn-dark {
  @apply text-accent-dark hover:text-white hover:bg-accent-dark focus:ring-accent-dark;
}

.btn-light {
  @apply text-accent bg-accent-light hover:bg-accent-light_hover;
}

.btn-white {
  @apply border-white hover:bg-white hover:text-accent-darkest ring-offset-accent-dark focus:ring-white;
}

.btn-xs {
  @apply px-2.5 py-1.5 text-xs;
}

.btn-sm {
  @apply px-3 py-2 text-sm leading-4;
}

.btn-md {
  @apply px-6 py-2 text-sm;
}

.btn-lg {
  @apply px-6 py-2 text-base;
}

.btn-xl {
  @apply px-6 py-2 text-base md:px-8 md:py-3 md:text-lg;
}

/* #endregion - Inputs -  */

/* #region - Nav - */

/* #region - Nav - */

.nav-item {
  @apply rounded-md
              inline-flex
              items-center
              text-base
              
              uppercase
              transition
              hover:text-accent
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-accent-light;
}

.nav-item-mobile {
  @apply mb-1
                    p-2
                    flex
                    items-center
                    rounded-md
                    uppercase
                    transition
                    hover:bg-accent-light
                    hover:text-accent-dark;
}

.nav-item-mobile__text {
  @apply ml-3 text-sm lg:text-base;
}

nav a {
  @apply text-black transition;
}

nav a:hover {
  @apply text-accent;
}

nav .router-link-active:not(.no-show-active) {
  @apply relative;
}

nav .router-link-active:not(.no-show-active).nav-item-mobile {
  @apply bg-accent;
}

nav .router-link-active:not(.no-show-active):not(.nav-item-mobile)::before {
  @apply bg-accent-light;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  transition: all 0.2s ease-in-out;
  transform: translateY(2px);
}

.link {
  @apply uppercase tracking-wider font-light text-lg;
}

/* #endregion */
